<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="user_name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="permissions" jdbcType="VARCHAR" property="permissions" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, password, permissions
  </sql>

  <select id="getUserByLogin" parameterType="java.lang.String"
          resultType="com.example.demo.entity.User">
        select * from base_personnel where user_name = #{username}
    </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.User">
    UPDATE base_personnel
    <set>
      <if test="user_name != null">user_name = #{user_name},</if>
      <if test="password != null">password = #{password},</if>
      <if test="permissions != null">permissions = #{permissions},</if>
    </set>
    WHERE id = #{id}
  </update>
</mapper>